<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Products</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <link href="/css/admin.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Aling Nena's</a><!-- this is where you set the navigation title -->
        </div>
        <div class="collapse navbar-collapse"><!-- collapse allows for this navbar to be used in mobile devices -->
          <ul class="nav navbar-nav"><!-- this is the list of navigation options in your navbar -->
            <li class="active"><a href="/about">About</a></li>
            <li><a href="/products">Products</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
	
      <div class="container">
        <div class="row">
	      <h3><%= @product.new_record? ? "Create New Product" : "Purchasing #{@product.name}" %></h3>
  	      <form method="POST" action="<%= @product.new_record? ? '/create_product' : "/products/buy/#{@product.id}" %>" role="form">
		    <form class="form-horizontal" role="form">
              <div class="form-group">
                <label for="item" class="col-sm-2 control-label">Item:</label>
                <div class="col-sm-10">
                  <label for="item" class="col-sm-2 control-label"><%= @product.name %></label>
                </div>
              </div>
			  <div class="form-group">
                <label for="total_cost" class="col-sm-2 control-label">Total Cost:</label>
                <div class="col-sm-10">
                  <label for="total_cost" class="col-sm-2 control-label"><%= @total_cost %></label>
                </div>
              </div>
			  <div class="form-group">
                <label for="paid" class="col-sm-2 control-label">Amount Paid:</label>
                <div class="col-sm-10">
                  <label for="paid" class="col-sm-2 control-label"><%= @money_given %></label>
                </div>
              </div>
			  <div class="form-group">
                <label for="change" class="col-sm-2 control-label">Change:</label>
                <div class="col-sm-10">
                  <label for="name" class="col-sm-2 control-label"><%= @change %></label>
                </div>
              </div>
              <h3>Break down of change:</h3>            
				<div></div>
				<div class="form-group">
  				  <label for="ones" class="col-sm-2 control-label">₱1:</label>
				  <div class="col-sm-10">
				    <label for="ones" class="col-sm-2 control-label"><%= @hash[:ones_bill]%></label>
				  </div>
				</div>
				<div class="form-group">
				  <label for="fives" class="col-sm-2 control-label">₱5:</label>
				  <div class="col-sm-10">
					<label for="fives" class="col-sm-2 control-label"><%= @hash[:fives_bill]%></label>
				  </div>
				</div>
				<div class="form-group">
				  <label for="tens" class="col-sm-2 control-label">₱10:</label>
				  <div class="col-sm-10">
					<label for="name" class="col-sm-2 control-label"><%= @hash[:tens_bill]%></label>
				  </div>
				</div>
				<div class="form-group">
				  <label for="twenties" class="col-sm-2 control-label">₱20:</label>
				  <div class="col-sm-10">
					<label for="name" class="col-sm-2 control-label"><%= @hash[:twenties_bill]%></label>
				  </div>
				</div>
				<div class="form-group">
				  <label for="fifties" class="col-sm-2 control-label">₱50:</label>
				  <div class="col-sm-10">
					<label for="name" class="col-sm-2 control-label"><%= @hash[:fifties_bill]%></label>
				  </div>
				</div>
				<div class="form-group">
				  <label for="hundreds" class="col-sm-2 control-label">₱100:</label>
				  <div class="col-sm-10">
					<label for="name" class="col-sm-2 control-label"><%= @hash[:hundreds_bill]%></label>
				  </div>
				</div>
				<div class="form-group">
				  <label for="five_hundreds" class="col-sm-2 control-label">₱500:</label>
				  <div class="col-sm-10">
					<label for="name" class="col-sm-2 control-label"><%= @hash[:five_hundreds_bill]%></label>
				  </div>
				</div>
				<div class="form-group">
				  <label for="thousands" class="col-sm-2 control-label">₱1000:</label>
				  <div class="col-sm-10">
					<label for="name" class="col-sm-2 control-label"><%= @hash[:thousands_bill]%></label>
				  </div>
				</div>
			  </div>
          </form>
      </div>	
    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
